.banner-cad{
    width: 30%;
    display: flex;
    height:auto;
    background-image:url('../../../assets/8bit-lib.jpeg');
    background-size: cover;
    background-repeat: repeat;
    


}

.formulario{
    display: flex;
    height: auto;
}

